# WordPress Core
wp-admin/
wp-includes/
# *.php
# !wp-config.php
index.php
xmlrpc.php
wp-activate.php
wp-blog-header.php
wp-comments-post.php
wp-config-sample.php
wp-cron.php
wp-links-opml.php
wp-load.php
wp-login.php
wp-mail.php
wp-settings.php
wp-signup.php
wp-trackback.php
license.txt
readme.html

# Agent Skills to exclude
.agent/skills/skills/

# WordPress content
wp-content/themes/twent*/
wp-content/upgrade/
wp-content/cache/

# OS Files
.DS_Store
Thumbs.db
